.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-red {
  background-color: $red;
}

.bg-black {
  background-color: $black;
}

.bg-gray {
  background-color: $gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-white-gray {
  background-color: $light-gray;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-gradient-blue {
  background: linear-gradient(to left, $light-blue, $blue);
}

.bg-gradient-green-blue {
  background: linear-gradient(139deg, $blue, $green);
}

.bg-gradient-green {
  background: linear-gradient(to left, $light-green, $green);
}
