@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
$fontFamily: Montserrat;

$blue: #469acf;
$light-blue: #7dcae9;
$green: #46cf76;
$light-green: #7ceaa2;
$red:#e04659;
$black: #2e313d;
$gray: #6a6e7b;
$light-gray: #9d9fac;
$white-gray: #E4E5EE;
$white: #fff;
$yellow: #f1e521;

$font: 0.875rem;
$font-sm: 0.75rem;
$font-lg: 1rem;

$theme-colors: (
  "primary": $blue,
  "secondary": #fc5c7d,
  "success": $green,
  "danger": $red,
  "warning": $yellow,
  "info": #00c9ff,
  "blue":$blue,
  "light-blue":$light-blue,
  "green": $green,
  "light-green":$light-green,
  "red":$red,
  "black":$black,
  "gray":$gray,
  "light-gray":$light-gray,
  "white-gray":$white-gray
);
