.vwc-button-group {
  display: flex;

  .btn {
    flex: 1;
    border: solid 1px $light-gray;
    background: $white;
    color: $gray;

    &:focus {
      box-shadow: unset !important;
    }

    &.disabled,
    &:disabled {
      border: solid 1px $white-gray !important;
    }

    &.btn-primary {
      &.active {
        color: $white;
        background-image: linear-gradient(103deg, $green, $blue);
        border: unset;
      }

      &.disabled,
      &:disabled {
        background-image: unset;
        background-color: $white-gray;
        color: $light-gray;
      }
    }

    &.btn-outline-primary {
      &:active,
      &:hover:not(:disabled) {
        color: $blue !important;
        background-color: $white !important;
      }

      &.disabled,
      &:disabled {
        background-color: $white;
        color: $light-gray;
      }
    }
  }
}
