.btn {
  font-size: 0.875rem;
  font-weight: 600;
  height: 40px;
  border-radius: 24px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 12px 0;

  &.disabled,
  &:disabled {
    cursor: not-allowed;
  }

  &:focus:not(:hover) {
    box-shadow: unset !important;
  }

  &.btn-primary {
    color: $white;
    background-image: linear-gradient(to left, $light-blue, $blue);

    &:active {
      background-image: linear-gradient(to left, #347dab, $blue) !important;
      box-shadow: 0 3px 5px 0 rgba($blue, 0.05) !important;
    }

    &:hover,
    &:hover:focus {
      box-shadow: 0 8px 10px -4px rgba(70, 154, 207, 0.75);
    }

    &.disabled,
    &:disabled {
      background-color: $light-gray;
      background-image: unset;
      border-color: unset;

      &:hover {
        box-shadow: unset;
      }
    }
  }

  &.btn-outline-primary {
    &:hover {
      box-shadow: unset !important;
      color: white;
    }

    &.active,
    &:active {
      background-color: #327dac !important;
    }

    &.disabled,
    &:disabled {
      color: $light-gray;
      border-color: $light-gray;
    }
  }

  &.btn-dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    padding: 0;
  }

  &.btn-icon {
    padding-left: 52px;
    position: relative;
  }

  &.btn-narrow {
    margin: 0;
    height: unset;
    font-size: 0.75rem;
    line-height: 1;
  }

  .btn-icon__icon {
    margin-top: -2px;
    left: 20px;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba($white,0.5);

    :first-child {
      padding-top: 3px;
    }
  }
}

a.btn {
  display: inline-flex;
  align-items: center;
}
