.react-calendar {
  border: 1px solid $white;
  border-radius: 8px;
  line-height: 1.125em;

  button {
    margin: 0;
    border: 0;
    outline: none;

    &:enabled {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__navigation {
    height: 44px;
    margin-bottom: 1em;

    button {
      min-width: 44px;
      background: none;

      &:enabled {
        &:focus,
        &:hover {
          background-color: rgb(230, 230, 230);
        }
      }

      &[disabled] {
        background-color: rgb(240, 240, 240);
      }
    }

    &__arrow {
      font-size: 1.875rem;
      padding-bottom: 8px !important;
      border-radius: 8px;
    }

    &__label {
      text-transform: capitalize;
      font-size: 0.875rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $gray;
    }

    &__next2-button,
    &__prev2-button {
      display: none;
    }
  }

  &__tile {
    background: none;
    text-transform: capitalize;
    border: 5px solid $white !important;
    font-size: 0.75rem !important;
    font-weight: 600 !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: .55em .5em;
    color: $black;

    &:disabled {
      background-color: rgb(240, 240, 240);
    }

    &:focus {
      outline: unset;
    }

    &:enabled {
      &:focus,
      &:hover {
        background-color: rgb(230, 230, 230);
      }
    }

    &--active {
      border-radius: 50%;
      background: #c8e5f7;
      color: $blue;

      &:hover {
        color: $white;
      }
    }

    &--hasActive,
    &--rangeEnd,
    &--rangeStart {
      border-radius: 50%;
      background: $blue !important;
      color: $white;
    }

    &--hover,
    &:hover {
      border-radius: 50%;
    }
  }

  &__century-view,
  &__decade-view,
  &__year-view {
    .react-calendar__tile {
      padding: 2em .5em;
    }
  }

  &--selectRange {
    .react-calendar__tile {
      &--hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }

  &__month-view {
    &__weekdays {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .75em;

      &__weekday {
        text-transform: capitalize;
        font-size: 0.75rem;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $gray;
      }
    }
  }
}
