.vwc-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  color: $gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    font-size: 0.5rem;
    background-color: $light-gray;
    color: $white;
    margin-top: 3px;
    padding-left: 2px;
  }

  & .vwc-checkbox__input:checked ~ .vwc-checkbox__checkmark {
    background-color: $blue;
  }
}
