.vwc-dot {
  margin: 10px;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-block;
  color: $white;

  &.small {
    width: 19px;
    height: 19px;
  }

  & > span {
    position: absolute;
    color: black;
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 50px;
  }
}
