.dropdown-toggle {
  color: $black !important;
  font-size: 0.875rem;
  font-weight: 600;
  height: 40px;
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('https://maxcdn.icons8.com/Share/icon/Arrows/expand_arrow1600.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: calc(100% - 16px) center;
  background-color: $white;
  min-width: 120px;
  border: solid 1px $light-gray;
  padding-left: 16px;
  padding-right: 42px;
  text-align: left;
  width: 100%;

  &:not(:disabled) {
    background-color: unset !important;
  }

  &:hover:not(:disabled) {
    color: $black !important;
  }

  &::after {
    display: none;
  }

  &.focus,
  &:focus {
    color: $black !important;
    background-color: $white !important;
    box-shadow: 0 0 16px -4px $blue !important;
  }

  &.disabled,
  &:disabled {
    background-color: $white-gray;
    border: unset;
  }

  &--clear {
    border: 0;
    width: initial;
    color: $gray;
    background-color: initial;

    &.active,
    &:active,
    &:active:focus,
    &:focus,
    &:hover {
      box-shadow: none !important;
      background-color: transparent !important;
      color: $black !important;
    }
  }
}
