.dropdown {
  &.show .dropdown-toggle--clear {
    border-color: initial !important;
    background-color: initial !important;
    color: $black !important;
  }

  &-menu {
    border-radius: 8px;
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.15), 0 0 5px 0 rgba(0, 0, 0, 0.1);

    .dropdown-item:hover {
      background-color: #f2f2f2;
    }
  }

  & &-menu {
    min-width: 100%;
    max-height: 98vh;
    overflow-x: hidden;
  }
}
