.input-group {
  display: flex;

  & > * {
    flex: 1;
  }

  .dropdown-toggle {
    color: $gray;
  }

  &:focus-within {
    .dropdown-toggle,
    input.form-control {
      border: solid 1px $blue;
      box-shadow: 0 0 16px -4px $blue !important;
      background-color: $white !important;
    }
  }

  input {
    &:first-child {
      &.disabled,
      &:disabled {
        border-right: 1px solid $black !important;
      }
    }
    &:last-child {
      &.disabled,
      &:disabled {
        border-left: 1px solid $black !important;
      }
    }
  }
}
