input {
  color: $black !important;
  font-size: 0.875rem !important;
  font-weight: 600;
  height: 40px;
  border-radius: 8px;
  border: solid 1px $light-gray;
  margin: 12px 0;

  &:not(:disabled) {
    background-color: unset !important;
  }

  &:focus {
    box-shadow: 0 0 16px -4px $blue !important;
    background-color: $white !important;
  }

  &.disabled,
  &:disabled {
    background-color: $white-gray;
    color: $light-gray !important;
    border: unset;
    cursor: not-allowed;
  }

  &.form-control {
    border-radius: 8px;
  }

  &.with-date {
    padding-left: 39px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' fill='%23373d44'%3E%3Cpath d='M853.333 85.333h-42.667v-42.667c0-23.564-19.103-42.667-42.667-42.667s-42.667 19.103-42.667 42.667v42.667h-170.667v-42.667c0-23.564-19.103-42.667-42.667-42.667s-42.667 19.103-42.667 42.667v42.667h-170.667v-42.667c0-23.564-19.103-42.667-42.667-42.667s-42.667 19.103-42.667 42.667v42.667h-42.667c-94.257 0-170.667 76.41-170.667 170.667v597.333c0 94.257 76.41 170.667 170.667 170.667h682.667c94.257 0 170.667-76.41 170.667-170.667v-597.333c0-94.257-76.41-170.667-170.667-170.667zM170.667 170.667h42.667v42.667c0 23.564 19.103 42.667 42.667 42.667s42.667-19.103 42.667-42.667v-42.667h170.667v42.667c0 23.564 19.103 42.667 42.667 42.667s42.667-19.103 42.667-42.667v-42.667h170.667v42.667c0 23.564 19.103 42.667 42.667 42.667s42.667-19.103 42.667-42.667v-42.667h42.667c47.128 0 85.333 38.205 85.333 85.333v85.333h-853.333v-85.333c0-47.128 38.205-85.333 85.333-85.333zM853.333 938.667h-682.667c-47.128 0-85.333-38.205-85.333-85.333v-426.667h853.333v426.667c0 47.128-38.205 85.333-85.333 85.333zM256 640c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667zM256 810.667c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667zM426.667 640c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667zM426.667 810.667c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667zM597.333 640c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667zM597.333 810.667c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667zM768 640c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667zM768 810.667c23.564 0 42.667-19.103 42.667-42.667s-19.103-42.667-42.667-42.667c-23.564 0-42.667 19.103-42.667 42.667s19.103 42.667 42.667 42.667z' /%3E%3C/svg%3E");
    background-position: 13px 12px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
  }
}

.form-control {
  border: solid 1px $light-gray;
}
