.vwc-label {
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

  &.label {
    &--title {
      color: $black;
      font-size: 3rem;
      font-weight: 600;
    }

    &--subtitle {
      color: $gray;
      font-size: 1rem;
      font-weight: 600;
    }

    &--text {
      color: $gray;
      font-size: 0.875rem;
      font-weight: 600;
    }

    &--info {
      color: $light-gray;
      font-size: 0.75rem;
    }

    &--error {
      color: $red;
      font-size: 0.75rem;
    }
  }
}
