.modal {
  .modal-dialog {
    max-width: 1024px;
  }

  .modal-content {
    border-radius: 8px;
    align-items: center;
  }

  .modal-header {
    border-bottom: 0;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    h5 {
      font-size: 2.25rem;
      font-weight: 500;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  .modal-body {
    max-width: 420px;
    width: 100%;
  }

  .modal-footer {
    width: 100%;
    border-top: 0;
    max-width: 420px;
  }
}
