.popover {
  border-radius: 8px;
  border: unset;
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.15), 0 0 5px 0 rgba(0, 0, 0, 0.1);

  &-body {
    padding: 0 15px;
  }

  &-header {
    background-color: unset;
    border-bottom: unset;
    font-size: 0.875rem;
    font-weight: 600;
    color: $gray;
    padding: 15px;
  }
}
