.vwc-status-icon {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  //padding: 1px;
  &--ok {
    background-color: rgba(70,207,118,0.3);
    color: $green;
  }

  &--error {
    color: var(--red);
    background-color: rgba(224,70,89,0.3);
  }
}
