.vwc-status {
  $c: &;
  color: $light-gray;
  text-align: center;
  padding: 15px;

  &__icon {
    font-size: 1.375rem;
  }

  &__text {
    font-size: 0.75rem;
    font-weight: 500;
  }
  @mixin status {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 2px $white;
    margin-top: -27px;
  }

  &--ok::after {
    @include status;
    background-color: $green;
  }

  &--error::after {
    @include status;
    background-color: $red;
  }
}
