.vwc-table {
  margin-bottom: 0;

  thead {
    th {
      color: $light-gray;
      font-size: 0.75rem;
      font-weight: 600;
      border-bottom: 0;
      border-top: 0;
      position: sticky;
      top: 0;
      z-index: 4;
    }
  }

  td {
    border-top: 0;
    vertical-align: middle;
  }

  &-wrap {
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 8px;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .shadow {
      border-radius: 8px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
      background-color: transparent;
    }
  }

  &-data {
    td,
    th {
      padding: 15px;
    }

    td:first-child,
    th:first-child {
      padding-left: 47px;
    }

    td:last-child,
    th:last-child {
      padding-right: 47px;
      width: 1%;
      white-space: nowrap;
    }

    thead {
      tr {
        height: 72px;
      }

      th {
        vertical-align: middle;
        background-color: #ecedf2;

        &:first-child {
          border-top-left-radius: 8px;
        }

        &:last-child {
          border-top-right-radius: 8px;
        }
      }
    }

    tbody {
      tr {
        background-color: $white;
        height: 104px;

        &:nth-of-type(even) {
          background-color: #f2f3f8;
        }
      }
    }
  }

  &-info {
    border-collapse: separate;
    border-spacing: 0 24px;
    margin-top: -24px;

    th {
      padding-bottom: 8px;
      background-color: #f5f6fa;
    }

    td {
      background-color: $white;

      &:first-child {
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-top-left-radius: 8px;
        -webkit-border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
      }

      &:last-child {
        -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
        border-top-right-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        -webkit-border-bottom-right-radius: 8px;
      }
    }

    tbody {
      tr {
        border-radius: 8px;
        background-color: transparent;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
}
